#homeView {
  height: 100%;
}

#homeView #demo {
  height: 100%;
}

#homeView .carousel-inner {
  height: 100%;
}

#homeView .carousel-inner .carousel-item {
  height: 100%;
}

#homeView #myTabContent h1::before, h1::after {
  height: 0;
  display: none;
}