#photoRoom {
  margin: 1rem 0;
}

.cards .card{
  width: 250px;
  height: 250px;
  border-radius: .5rem;
  border: 1px solid #f1f1f1;
  padding: 1rem; 
  background: #f1f1f1;
  margin-right: 1rem;
}

.cards .card img{
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  position: relative;
}

.cards .card img:hover {
  opacity: 0.5;
}


.cards .card p{
  text-align: center;
  font-size: 16px;
  font-weight: 450;
  margin-top: 1rem;
  color: black;
}
.tw-heart-box {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.tw-heart {
  background: url(http://i.imgur.com/zw8ahUb.png) no-repeat 0 0;
  display: inline-block;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
}

[type="checkbox"]:checked + .tw-heart {
  transition: background .8s steps(28);
  background-position: -2800px 0;
}

[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}